    <header>
      <div class="header-top-border rainbow-horizontal"></div>
      <div class="header-navbar">
        <div class="header-navbar-logo">Sentence Folder</div>
        <% if(menu){ %>
        <div class="header-menu">
          <select class="app-menu">
            <option></option>
            <option value="logout">ログアウト</option>
          </select>
        </div>
        <%}%>
      </div>
    </header>