    <div id="header">
      <div class="frame-top-border"></div>
      <div class="navbar">
        <div class="logo">Sentence Folder</div>
        <% if(menu){ %>
        <div class="menu">
          <select class="app-menu">
            <option></option>
            <option value="logout">ログアウト</option>
          </select>
        </div>
        <%}%>
      </div>
    </div>