    <script id="tmpl-studied-times-modal" type="text/template">
        <h1 class="large">
          学習日時
          <span class="large-x"><i class="icon-remove-sign"></i></span>
        </h1>
        <div class="body">
        <ul class="large-x">
          <@get('formattedStudiedTimes').forEach(function(time, i){ @>
          <li class="time"><@=time@>
            <span class="remove-studied-time"><i class="icon-remove"></i></span>
          </li>
          <@});@>
        </ul>
        </div>
    </script>

    <script id="tmpl-add-tag-modal" type="text/template">
        <h1 class="edit-tag-modal-header large">タグの一括追加<span class="large-x"><i class="icon-remove-sign"></i></span></h1>
        <div class="edit-tag-modal-body">
          <div class="edit-tag-modal-tags"></div>
        </div>
        <div class="edit-tag-modal-footer">
          <button class="btn-medium edit-tag-modal-add">追加する</button>
        </div>
    </script>

    <script id="tmpl-remove-tag-modal" type="text/template">
        <h1 class="edit-tag-modal-header large">タグの一括解除<span class="large-x"><i class="icon-remove-sign"></i></span></h1>
        <div class="edit-tag-modal-body">
          <select class="remove-tag-modal-select" multiple>
          <@_.each(tags, function(t){@>
            <option value="<@=t@>"><@=t@></option>
          <@}); @>
          </select>
        </div>
        <div class="edit-tag-modal-footer">
          <button class="btn-medium edit-tag-modal-remove">解除する</button>
        </div>
    </script>

    <script id="tmpl-progress-modal" type="text/template">
      <div class="progress-modal-body">
        <span class="point"><@=get('point')@></span>
        <div class="progress-modal-slider"></div>
      </div>
    </script>

    <script id="tmpl-star-select-modal" type="text/template">
      <div class="star-select-modal-body">
        <ul class="star-select-modal-star-list">
          <li class="icon-only-button star-button">
            <i data-star-idx="1" class="icon-star"></i>
          </li>
          <li class="icon-only-button star-button">
            <i data-star-idx="2" class="icon-star"></i>
          </li>
          <li class="icon-only-button star-button">
            <i data-star-idx="3" class="icon-star"></i>
          </li>
          <li class="icon-only-button star-button">
            <i data-star-idx="4" class="icon-star"></i>
          </li>
          <li class="icon-only-button star-button">
            <i data-star-idx="5" class="icon-star"></i>
          </li>
        </ul>
        <ul class="star-select-modal-star-list">
          <li class="icon-only-button star-button">
            <i data-star-idx="0" class="icon-star-empty"></i>
          </li>
        </ul>
      </div>
    </script>










