<script id='tmpl-studying' type='text/template'>
  <div class="studying-item-num">
    残りアイテム数: <span class="studying-item-num-text large-x"><@=itemNum@></span>
  </div>
  <i class="studying-speaking studying-speaking-loading icon-play-sign"></i>
</script>

<script id='tmpl-studying-item' type='text/template'>
    <div class="studying-item-top-line"></div>
    <div class="studying-item-content-wrapper">
      <div class="content">
        <div class="studying-item-attribute-box">
          <label>ID:</label>
          <div class="studying-item-id">
            <p class="sentence-id"><@=get('sentence_id')@></p>
          </div>
        </div>
        <div class="studying-item-attribute-box">
          <label><i class="icon-tags"></i>:</label>
          <p class="text-content"><@=get('formattedTags')@></p>
        </div>
        <@if(get('situation')){@>
        <div class="studying-item-attribute-box">
          <label>状況:</label>
          <p class="text-content"><@=get('situation')@></p>
        </div>
        <@}@>
        <@if(get('description')){@>
        <div class="studying-item-attribute-box">
          <label><span class="studying-item-desc-switch">説明</span>:</label>
          <pre class="description-text text-content hide"><@=get('description')@></pre>
        </div>
        <@}@>
        <div class="star-button">
          <i class="icon-star" data-star-idx="<@=get('star')@>"></i>
        </div>

        <div class="studying-item-param-box">
          <@if(get('param_sets').length >0){@>
          <label>パラメータ:</label>
          <div>
            <ul>
            <@get('param_sets').forEach(function(paramset){@>
              <li>
                <select class="studying-item-param" name="<@=paramset.param_name@>">
                  <@var randomIdx = Math.floor( Math.random() * paramset.params.length );@>
                  <@paramset.params.forEach(function(param, i){@>
                  <option data-question="<@=param.question@>"
                    data-answer="<@=param.answer@>" <@= i==randomIdx ? 'selected': '' @>>
                    <@=param.question || param.answer@>
                  </option>
                  <@});@>
                </select>
              </li>
            <@});@>
            </ul>
          </div>
          <@}@>
        </div>

        <@var dialog = get('dialog') || { before: [], after:[] };@>
        <ul class="large studying-item-sentences">
          <@_.each(dialog.before, function(sentence){@>
          <li class="studying-item-sub-sentence speaker-<@=sentence.speaker@>">
            <div>
              <div class="answer">
              <@(sentence.answer.match(/[^\r\n]+/g) || []).forEach(function(line){ @>
                <p data-original-text="<@=line@>"><@=line@></p>
              <@});@>
              </div>
              <div class="question">
              <@(sentence.question.match(/[^\r\n]+/g) || []).forEach(function(line){ @>
                <p class="sub-text" data-original-text="<@=line@>"><@=line@></p>
              <@});@>
              </div>
            </div>
          </li>
          <@});@>

          <li class="studying-item-main-sentence speaker-1">
            <div class="question sub-text">
            <@get('question').match(/[^\r\n]+/g).forEach(function(line){ @>
              <p class="question" data-original-text="<@=line@>"><@=line@></p>
            <@});@>
            </div>
            <div>
              <ul>
                <@_.each(get('answers'), function(answer){@>
                <li>
                  <div>
                    <div class="sentence-item" data-is-showing="false">
                      <i class="icon-question"></i>
                      <div class="memo small"><@=answer.memo@></div>
                      <div class="sentence-text answer hidden">
                        <@(answer.sentence.match(/[^\r\n]+/g) || [] ).forEach(function(line){ @>
                        <p data-original-text="<@=line@>"><@=line@></p>
                        <@});@>
                      </div>
                    </div>
                    <div class="speaker">
                      <i class="icon-play-circle"></i>
                    </div>
                  </div>
                </li>
                <@});@>
              </ul>
            </div>

          </li>

          <@_.each(dialog.after, function(sentence){@>
          <li class="studying-item-sub-sentence speaker-<@=sentence.speaker@>">
            <div>
              <div class="answer">
              <@(sentence.answer.match(/[^\r\n]+/g) || []).forEach(function(line){ @>
                <p data-original-text="<@=line@>"><@=line@></p>
              <@});@>
              </div>
              <div class="question">
              <@(sentence.question.match(/[^\r\n]+/g) || []).forEach(function(line){ @>
                <p class="sub-text" data-original-text="<@=line@>"><@=line@></p>
              <@});@>
              </div>
            </div>
          </li>
          <@});@>

        </ul>
      </div>

      <div class="studying-item-footer">
        <div class="box studying-item-footer-box">
          <div>
            <div>
              <button class="studying-item-finish-study btn-medium" data-studied="false">
                <i class="icon-check-empty"></i><span>学習済にする</span></button>
            </div>
            <div class="studying-item-progress">
              <div class="point studying-item-point large-xxx">
                <span class="studying-item-point-num"><@=get('point')@></span>
              </div>
              <div class="studying-item-slider">
              </div>

           </div>
         </div>
         <div class="studying-item-goto-next">
            <i class="icon-chevron-sign-right "></i>
         </div>
      </div>

    </div>

</script>






